{% extends 'fileLoader/base.html' %}
{%load static%}
{% block content %}

<div class="card">
    <div class="card-header">
        <h2 class="h5">Edit {{ file.name }}</h2>
    </div>
    <div class="card-body">
        <form action="{% url 'edit_file' file.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="content" rows="20">{{ file.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}
