{% extends 'fileLoader/base.html' %}
{%load static%}
{% block content %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h5">{{ file.name }}</h2>
        <a href="{% url 'edit_file' file.id %}" class="btn btn-secondary btn-sm">Edit</a>
    </div>
    <div class="card-body file-content">
        {% for line in file.content.splitlines %}
            {% if line|length < 120 %}
            <p>{{ line }}</p>
            {% else %}
            <pre><code>{{ line }}</code></pre>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ file.name }}</title>
    <link rel="stylesheet" href="{% static 'fileLoader/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Text File Parser</h1>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="content-overlay">
                {{ file.content|safe }}
                <a href="{% url 'edit_file' file.id %}">Edit</a>
            </div>
        </main>
        <footer>
            <div class="social-icons">
                <a href="#">Icon1</a>
                <a href="#">Icon2</a>
                <a href="#">Icon3</a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 Your Company. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html> -->
